@media (max-width: 767px) {

    .navbar-start,
    .navbar-center,
    .navbar-end {
        flex-direction: column;
    }

    .dropdown-content {
        width: 100%;
        margin-top: 1rem;
    }

    .menu-horizontal {
        justify-content: center;
        margin-top: 1rem;
    }
}